<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>

  <body style="background-color: #79aec8; height: 100%">
    <header style="background-color: #1b1b1b; border: 1px solid black;">
          <nav class="navbar bg-body-tertiary fixed-top; background-color: #264b5d" style="position: relative; bottom: 3px">
      <div class="container-fluid">
        <a class="navbar-brand"><h1 style="text-transform: uppercase; font-family: 'Berlin Sans FB',sans-serif">Todo App</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

          <div class="offcanvas-header">
              <div style="background-color: black; border: 1px solid transparent; width: 65px;height: 45px; border-radius: 6px;">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="margin: 5px; color: whitesmoke">Menu</h5>
              </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body" style="background-color: #747474">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/todo/home/" style="color: white">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                  Task
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'todo:create' %}">Add New Task</a></li>
                  <li><a class="dropdown-item" href="{% url 'todo:task_views' %}">View Task</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: white">Contact Us</a>
              </li>
                 <li class="nav-item">
                <a class="nav-link" href="#" style="color: white">Sign out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    </header>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
